@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
    background-image: linear-gradient( 109.6deg,  rgba(204,228,247,1) 11.2%, rgba(237,246,250,1) 100.2% );
}

.navbar{
    background: purple;
    padding: 1.3rem 0;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0 0 5px #000;
}

.navbar-link{
    color: #fff;
    font-size: 1.8rem;
}

.navbar-link:hover{text-decoration: underline;}

.top{margin-top: 0.8rem}

.get-fixture{
    font-size: 1.4rem;
    outline: none;
    border: none;
    padding: 0.6rem 1.5rem 0.4rem 1.5rem;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
}

.league-flex{
    width: 87%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.league-row, .teams-row{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.single-league{
    background: #fff;
    box-shadow: 0px 0px 4px #000;
    display: flex;
    min-width: 200px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.7rem;
    transition: 400ms box-shadow;
    color: #000;
}

.single-league:hover{
    box-shadow: 0px 0px 20px #000;
}

.single-league-img{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-league-img img{
    height: 130px;
    max-width: 150px;
    object-fit: contain;
}

.single-league-text{
    padding: .8rem 0;
}

.single-league-text h2{
    color: rgb(68, 68, 68);
    margin-top: 1.2rem;
    padding-bottom: 0.5rem;
}

.single-league-text p img{
    width: 30px;
    object-fit: contain;
}

.table-league{
    width: 95%;
    margin: 2rem auto;
    padding: 0.5rem 0;
    background: #fff;
    border: 2px solid rgb(192, 192, 192);
    border-collapse: collapse;
    overflow: scroll;
}

.table-league tbody tr td img{
    height: 40px;
    margin-right: 0.7rem;
}

.table-league tbody tr td:not(.table-group-teamname){
    margin: 0 auto;
}

.table-league thead tr td{
    color: gray;
    font-weight: bold;
    padding: 0.5rem 0;
    border-bottom: 2px solid  rgb(192, 192, 192);
}

.table-league tbody tr td{
    padding: 0.4rem;
}

.table-league tbody tr{
    border-top: 2px solid rgb(192, 192, 192);
}

.table-group-teamname{
    display: flex;
    align-items: center;
}

.table-group-form{
    border-radius: 3px;
    margin: 0.1rem;
    color: #fff;
    padding: 0.3rem 0.3rem 0.1rem 0.3rem;
    font-size: 1.2rem;
}

.lost{background: #d2302c;}
.win{background: #295f2d;}
.draw{background: #f9d342;}
.center{text-align: center;}
.width{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.promotion{
    background: rgb(195, 240, 255);
}

.relegation{
    background: rgb(255, 106, 136);
}

.team-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-info img{
    width: 220px;
}

.team-info h1{margin: .8rem 0;}

.team-info p{
    font-size: 1.25rem;
    margin-bottom: 0.4rem;
}

.fa-calendar {color: blue;}
.fa-map-marker {color: crimson}
.fa-user {color: gray;}

.squad-grid{
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.squad-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.2rem;
    padding: 1rem 0;
    box-shadow: 0px 0px 3px #000;
    transition: box-shadow 400ms;
    position: relative;
}

.squad-flex:hover{
    box-shadow: 0px 0px 20px #000;
}

.Attacker {
    background: #d2302c;
    color: #f7f7f9;
}

.Goalkeeper{
    background: #f9d342;
    color: #292826;
}

.Defender{
    background: #2f3c7e;
    color: #fbeaeb;
}

.Midfielder{
    background: #317773;
    color: #e2d1f9;
}

.players-position {
    text-align: center;
}

.players-position .position{
    position: relative;
    display: inline-flex;
}

.players-position .position::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    display: inline;
    width: 100%;
    height: 4px;
    background: gray;
}

.team-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    margin: 1rem auto;
}

.team-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 3px #000;
    margin: 1rem;
    padding: 1rem 0;
    background: #fff;
}

.team-flex h1 {margin-bottom: 0.6rem}

.profit{color: #168118}
.deficit{color: crimson}

.fixture-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
    margin-top: 1.6rem;
}

.fixture-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.fixture-flex-shadow{
    width: 90%;
    margin: 1rem auto;
    box-shadow: 0 0 4px #000;
    position: relative;
    background: #fff;
}

/* Single Fixture */
.single-width{
    width: 70%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 0px 10px #000;
}

.single-fixture{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.single-fixture img{
    width: 150px;
}

/* HOME, AWAY */
.round {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
    color: rgb(240, 240, 240);
    mix-blend-mode: multiply;
}

.home-team, .away-team{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #000;
    width: 85%;
    margin: 0 auto;
    padding-top: 1rem;
}

.teamName{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teamName img{
    height: 50px;
    margin-right: .6rem;
}

.flex-score{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-score > *:not(span){
    width: 30px;
    text-align: center;
}

.winner{
    text-align: center;
    color: #429bb8;
    font-weight: bold;
}

.divider{
    height: 100%;
    width: 2px;
    background: rgb(177, 177, 177);
}

/* TABLE */
.table-fixture-info{
    width: 61%;
    margin: 2rem auto;
    border-collapse: collapse;
}

.table-fixture-info tr td{
    text-align: center;
    padding: 0.4rem 0;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.fixture-events{
    width: 55%;
    position: relative;
}

.fixture-events * {font-size: 1.15rem}

.red{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-left: 3rem;
    height: 90px;
    border-top: 2px solid rgb(134, 134, 134);
}

.black{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; 
    padding-right: 3rem;
    height: 90px;
    border-top: 2px solid rgb(136, 136, 136);
}

.centered{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    color: rgb(90, 90, 90);
}

.assist{
    color: gray;
    font-size: 1rem;
}

.table-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4rem;
}

.table-fixture{
    min-width: 360px;
    border-collapse: collapse;
    margin: 1rem;
}

.table-fixture thead tr td {
    font-size: 1.5rem;
    padding: 0.4rem;
    color: #fff;
    font-weight: bold;
    background: gray;
}

.table-fixture tbody tr td{
    padding: 0.6rem;
    border-top: 1px solid gray;
}

.table-fixture tbody tr td:first-child{
    color: gray;
    font-weight: bold;
    font-size: 1.2rem;
}

.table-fixture tbody tr td:last-child{
    font-size: 1.3rem;
}

.table-team{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.table-team-name{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.table-team-name span:last-child{
    color: #333;
    font-size: 1rem;
}

/* HeadToHead */
.h2h-width{
    width: 85%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 7px #000;
}

.h2h-stats{
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
}

.h2h-stats div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2h-single-fixture{color: #000;}

.h2h-league-time{
    background: rgb(230, 230, 230);
    color: gray;
    border-top: 1px solid gray;
    padding: 0.6rem 0;
}

.h2h-flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.h2h-flex div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .6rem 0;
}

.h2h-flex div img{height: 50px;}
.h2h-flex div p {
    margin: 0 1rem;
    font-size: 1.3rem;
}

.loading{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: gray;
    font-weight: bold;
}

.stats-flex{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-wrap{
    margin-top: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media(max-width: 1600px){
    .league-row {grid-template-columns: 1fr 1fr 1fr 1fr;}
}

@media(max-width: 1400px){
    .league-row, .squad-grid{grid-template-columns: 1fr 1fr 1fr;}
    .teams-row {grid-template-columns: 1fr 1fr 1fr 1fr;}
    .single-width {width: 90%}
    .fixture-grid {grid-template-columns: 1fr 1fr;}
}

@media(max-width: 1040px){
    .league-row, .squad-grid {grid-template-columns: 1fr 1fr;}
    .teams-row {grid-template-columns: 1fr 1fr 1fr;}
    .fixture-flex-shadow {box-shadow: 0 0 4px #000;}
}

@media(max-width: 910px){
    .team-grid{
        grid-template-columns: 1fr;
        width: 90%;
    }
    .single-width {width: 100%}
    .h2h-width {width: 100%;}
    .fixture-grid {grid-template-columns: 1fr;}
}

@media(max-width: 800px){
    .fixture-events{width: 90%}
    .table-flex {flex-direction: column;}
    .table-league {width: 100%;}
}

@media(max-width: 710px){
    .league-flex {width: 95%;}
    .single-league {height: 250px;}
    .teams-row {grid-template-columns: 1fr 1fr;}
    .league-row, .squad-grid {grid-template-columns: 1fr;}
    .table-fixture-info {width: 80%}
    .single-fixture img {height: 80px; object-fit: contain;}
    .single-fixture h2 {font-size: 1.1rem}
}

@media(max-width: 500px){
    .centered {font-size: 1.1rem}
    .black {padding-right: 1rem}
    .red {padding-left: 1rem}
    .fixture-events h4 {font-size: 1.1rem}
    .h2h-flex div img{height: 40px;}
    .h2h-flex div p {font-size: 0.9rem;}
}