@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.league-flex{
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.league-row{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.single-league{
    box-shadow: 0px 0px 4px #000;
    display: flex;
    min-width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.7rem;
    transition: 400ms box-shadow;
}

.single-league:hover{
    box-shadow: 0px 0px 20px #000;
}

.single-league-img{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-league-img img{
    width: 80%;
    max-height: 150px;
    object-fit: contain;
}

.single-league-text{
    padding: .8rem 0;
}

.single-league-text h2{
    color: rgb(68, 68, 68);
    padding-bottom: 0.3rem;
}

.single-league-text p img{
    width: 30px;
    object-fit: contain;
}

.table-league{
    width: 95%;
    margin: 2rem auto;
    padding: 0.5rem 0;
    border: 2px solid rgb(192, 192, 192);
    border-collapse: collapse;
    overflow: scroll;
}

.table-league tbody tr td img{
    height: 40px;
    margin-right: 0.7rem;
}

.table-league tbody tr td:not(.table-group-teamname){
    margin: 0 auto;
}

.table-league thead tr td{
    color: gray;
    font-weight: bold;
    padding: 0.5rem 0;
    border-bottom: 2px solid  rgb(192, 192, 192);
}

.table-league tbody tr td{
    padding: 0.4rem;
}

.table-league tbody tr{
    border-top: 2px solid rgb(192, 192, 192);
}

.table-group-teamname{
    display: flex;
    align-items: center;
}

.table-group-form{
    border-radius: 3px;
    margin: 0.1rem;
    color: #fff;
    padding: 0.3rem 0.3rem 0.1rem 0.3rem;
    font-size: 1.2rem;
}

.lost{background: #d2302c;}
.win{background: #295f2d;}
.draw{background: #f9d342;}
.center{text-align: center;}
.width{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.promotion{
    background: rgb(195, 240, 255);
}

.relegation{
    background: rgb(255, 106, 136);
}

.team-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-info img{
    width: 220px;
}

.team-info h1{margin-bottom: 0.5rem}

.team-info p{
    font-size: 1.25rem;
    margin-bottom: 0.4rem;
}

.fa-calendar {color: blue;}
.fa-map-marker {color: crimson}
.fa-user {color: gray;}

.squad-grid{
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.squad-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.2rem;
    padding: 1rem 0;
    box-shadow: 0px 0px 3px #000;
    transition: box-shadow 400ms;
    position: relative;
}

.squad-flex:hover{
    box-shadow: 0px 0px 20px #000;
}

.Attacker {
    background: #d2302c;
    color: #f7f7f9;
}

.Goalkeeper{
    background: #f9d342;
    color: #292826;
    mix-blend-mode: screen;
}

.Defender{
    background: #2f3c7e;
    color: #fbeaeb;
}

.Midfielder{
    background: #317773;
    color: #e2d1f9;
}

.players-position {
    text-align: center;
}

.players-position .position{
    position: relative;
    display: inline-flex;
}

.players-position .position::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    display: inline;
    width: 100%;
    height: 4px;
    background: gray;
}

.players-position .position:first-child{
    margin-top: 3rem;
}

.background-lastname{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4rem;
}

.team-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    margin: 0 auto;
}

.team-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 3px #000;
    margin: 1rem;
}


@media(max-width: 1400px){
    .league-row, .squad-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 1040px){
    .league-row, .squad-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 710px){
    .league-row, .squad-grid{
        grid-template-columns: 1fr;
    }
}